<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <button id="add-one">add one</button>
    <table id="records">
        <thead>
            <tr>
                <th>Name</th>
                <th>Meal</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
<!--             <tr>
                <td>Colin</td>
                <td>Noodle</td>
                <td>13</td>
            </tr>  -->
        </tbody>
    </table>       
    <div id="result">result:</div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../underscore.js"></script>
<script>
var colinM = colinM || {};
colinM.test = colinM.test || {};
colinM.test.sd = (function () {
    var self={},
        orderTableName = "Order",
        names = ["Colin", "Sai", "John", "Albert"],
        meals = {"Mushroom":"50", "Steam Rice":"30", "Tandori Chicken": "130"},
        i = 0;
    _.templateSettings = {
        interpolate : /\#\{(.+?)\}/g
    };
    var p = function (str) {
        console.log(str);
    };
    var generateOne = function (i) {
        return {name: 'name'+i,
                meal: 'meal'+i,
                price: i*10};
    };
    var initOrderLocal = function () {
        localStorage[orderTableName] = localStorage[orderTableName] || {}
    };
    var saveOrderLocal = function (id, obj) {
        localStorage[orderTableName][id] = obj;
        return obj;
    };
    var loadOrderLocal = function () {
        return localStorage[orderTableName];
    };
    self.main = function () {
        initOrderLocal();
    };
    $("button#add-one").on("click", function (event) {
        var newOne = generateOne(i++);
        // var rowTmplate = _.template("<tr><td><%= name %></td><td><%= meal %></td><td><%= price %></td></tr>");
        var rowTmplate = _.template("<tr><td>#{name}</td><td>#{meal}</td><td>#{price}</td></tr>");
        var rowStr = rowTmplate(newOne);
        $('table#records > tbody:last').append(rowStr);
    });
    return self;
}());
colinM.test.sd.main();
    // function handleStorage (event) {
    //     console.log(event);
    // }
    // window.addEventListener("storage", handleStorage, false);
    // localStorage.myName = "Colin";
    // document.getElementById("result").innerHTML="My name is: " + localStorage.myName;
    // if (localStorage.clickCount) {
    //     localStorage.clickCount = Number(localStorage.clickCount) + 1;
    // }else{
    //     localStorage.clickCount = 1;
    // };
    // document.getElementById("result").innerHTML="clickCount: " + localStorage.getItem("clickCount");
    // localStorage["clickCount"]
    // localStorage.removeItem("clickCount");

    // localStorage.clear();
    // localStorage.length;

</script>
</body>
</html>